- var temp = post.lang || config.language
article(itemscope itemtype="http://schema.org/Article" class="post block" lang=temp)
    link(itemprop="mainEntityOfPage" href!=post.permalink)
    span(hidden itemprop="author" itemscope itemtype="http://schema.org/Person")
        meta(itemprop="image" content=url_for(theme.statics + theme.assets + '/' + theme.sidebar.avatar))
        meta(itemprop="name" content=author)
        meta(itemprop="description" content=`${ subtitle }, ${ description }`)
    span(hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization")
        meta(itemprop="name" content=title)
    div(class=`body md${post.direction && post.direction.toLowerCase() === 'rtl'? rtl:""}` itemprop="articleBody")
        if post.photos && post.photos.length
            div(class="gallery" itemscope itemtype="http://schema.org/ImageGallery")
                each photo in post.photos
                    img(loading="lazy" decoding="async" data-src=_image_url(photo, post.path) itemprop="contentUrl")
        if theme.summary.enable && page.layout === 'post'
            div(class='tabs' id='summary')
                div(class="show-btn")
                div(class="nav")
                    ul(class="special")
                div(class="tab" data-id="summary" data-title="自我介绍")
                    p
                        != get_introduce()
                div(class="tab active" data-id="summary" data-title="文章概括")
                    p
                        != get_summary(page)


        != post.content
        if post.tags && post.tags.length
            div(class="tags")
                each tag in post.tags.toArray()
                    a(href!=url_for(tag.path) rel="tag")
                        i(class="ic i-tag")
                        != tag.name
    footer
        != partial('_partials/post/footer.pug')
        if theme.reward.enable
            != partial('_partials/post/reward.pug', {}, {cache: true})
        if theme.creative_commons.license
            != partial('_partials/post/copyright.pug')
    != shokax_inject('postBodyEnd')
