extends ./_partials/layout.pug

block title
    != `${__('title.category')}${__('symbol.colon')}${page.category}`

block header
    h1(itemprop="name headline")
        != _p('title.category_in', page.title)

block content
    div(class="collapse wrap")
        - var prev = _category_prev(page.category)
        h2(class="item header")
            a(href=url_for(config.category_dir)) #{__('title.all')}
            if prev
                small /
                != prev
            small /
            != page.title
            small #{__('title.category')}
        - var posts = page.posts
        - var current = "c"
        - var lastcat = ""
        - var lastcatslug = ""
        each post in posts.toArray()
            if post.categories && post.categories.length
                - var cat_length = post.categories.length
                each cat,index in post.categories.toArray()
                    if cat.name === page.title
                        - lastcat = ""
                        - lastcatslug = ""
                    else
                        - lastcat += `<a href=${url_for(cat.path)}>${cat.name}</a><small>`
                        if index >= post.categories.toArray().length - 1
                            - lastcat = lastcat+' ( '+cat.length+' ) '+`</small>`
                        else
                            - lastcat = lastcat+'/'+`</small>`
                    - lastcatslug = lastcatslug + cat.slug
            if lastcat && lastcatslug && lastcatslug !== current
                h3(class="item section")
                    !=lastcat
                - current = lastcatslug
            article(class="item normal" itemscope itemtype="http://schema.org/Article")
                div(class="meta")
                    time(
                    itemprop="dateCreated"
                    datetime=moment(post.date).format()
                    content=date(post.date, config.date_format)
                    ) #{date(post.date, 'MM-DD')}
                div(class="title")
                    if post.link
                        - var postTitleIcon = '<i class="ic i-link-alt"></i>'
                        - var postText = post.title || post.link
                        != _url(post.link, postText + postTitleIcon, {class: 'external', itemprop: 'url'})
                    else
                        a(href=url_for(post.path) itemprop="url")
                            span(itemprop="name")
                                != post.title || __('post.untitled')
    include _partials/pagination.pug
