include ../_mixin/breadcrumb.pug
include ../_mixin/sidebar.pug
include ../_mixin/widgets.pug

- ignores = []
if (theme.quicklink.ignores)
    - ignores.push(theme.quicklink.ignores)

- var covers = _cover_index(page, 6)
- var enableFixedCover = theme.homeConfig?.fixedCover
- var enablePreload = theme.experiments?.coverConfig?.enablePreload
- var enableCover = theme.experiments?.coverConfig?.enableCover

doctype html
html(lang=page.language?page.language:config.language, style=theme.grayMode ? 'filter: grayscale(1);':'' )
    head
        != partial('_partials/head/head.pug', {}, {cache: true})
        if enablePreload && enableCover
            if enableFixedCover
                link(rel="preload" href=theme.homeConfig.fixedCover as="image" fetchpriority="high")
            else
                each image in covers
                    link(rel="preload" href=image as="image" fetchpriority="high")

        != partial('_partials/head/head_com.pug')
        != shokax_inject('head')
        title
            block title
                != `${alternate?alternate + " = ":""}${title}${subtitle?" = "+subtitle:""}`
    body(itemscope itemtype="http://schema.org/WebPage")
        != partial('_partials/loading.pug', {}, {cache: true})
        div(id="container")
            header(id="header" itemscope itemtype="http://schema.org/WPHeader")
                div(class="inner")
                    div(id="brand")
                        div(class="pjax")
                            block header
                                a(href=config.root class="logo" rel="start")
                                    if alternate
                                        p(class="artboard")
                                            != alternate
                                    h1(itemprop="name headline" class="title")
                                        != title
                                if subtitle
                                    p(class="meta" itemprop="description")
                                        != `= ${subtitle} =`

                    != partial('_partials/header.pug', {}, {cache: true})
                div(id="imgs" class="pjax")
                    if enableCover
                        if theme.homeConfig.gradient || enableFixedCover
                            //- cover不可用时用Bing随机图片代替
                            - var coverImage = theme.homeConfig?.fixedCover || "https://7ed.net/bing/api"
                            img(src=coverImage loading="eager" decoding="async" fetchpriority="high" alt=title)
                        else
                            if covers.length === 6
                                ul
                                    each image in covers
                                        li(class="item" style=`background-image: url("${image}");`)
                            else
                                img(src=covers loading="eager" decoding="async" fetchpriority="high" alt=title)
            div(id="waves")
                svg(class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto")
                    defs
                        path(id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
                    g(class="parallax")
                        use(xlink:href="#gentle-wave" x="48" y="0")
                        use(xlink:href="#gentle-wave" x="48" y="3")
                        use(xlink:href="#gentle-wave" x="48" y="5")
                        use(xlink:href="#gentle-wave" x="48" y="7")
            main
                div(class="inner")
                    div(id="main" class="pjax")
                        block content
                    div(id="sidebar")
                        block sidebar
                            +sidebarRender
                    div(class="dimmer")
            footer(id="footer")
                div(class="inner")
                    div(class="widgets")
                        +WRender
                    != partial('_partials/footer.pug', {}, {cache: true})
        - var ccIcon = '<i class="ic i-creative-commons"></i>'
        - var ccText = theme.creative_commons.license.toUpperCase()
        - var audioValue
        if page.audio
            - audioValue = JSON.stringify(page.audio);

        else if page.audio === false
            - audioValue = JSON.stringify({});
        else
            - audioValue = "undefined"

        script(data-config type="text/javascript").
            var LOCAL = {
                ispost: !{is_post()},
                    path: `#{_permapath(page.path)}`,
                    favicon: {
                    show: `#{__('favicon.show')}`,
                    hide: `#{__('favicon.hide')}`
                },
                search: {
                    placeholder: "!{__('search.placeholder')}",
                    empty: "!{__('search.empty')}",
                    stats: "!{__('search.stats')}"
                },
                copy_tex: #{!!page.math},
                katex: #{!!page.math},
                mermaid: #{!!page.mermaid},
                audio: !{audioValue},
                fancybox: #{page.fancybox !== false},
                nocopy: #{!!page.nocopy},
                outime: #{page.outime !== false},
                template: `!{__('outime.template')}`,
                quiz: {
                    choice: `#{__('quiz.choice')}`,
                    multiple: `#{__('quiz.multiple')}`,
                    true_false: `#{__('quiz.true_false')}`,
                    essay: `#{__('quiz.essay')}`,
                    gap_fill: `#{__('quiz.gap_fill')}`,
                    mistake: `#{__('quiz.mistake')}`
                },
                ignores: [
                    (uri) => uri.includes('#'),
                    (uri) => new RegExp(LOCAL.path + '$').test(uri),
                        !{JSON.stringify(ignores)}
                ]
            };

        != partial('_partials/third-party/baidu-analytics.pug', {}, {cache: true})
        != partial('_partials/third-party/clarity.pug', {}, {cache: true})
        != partial('_partials/third-party/google-analytics.pug', {}, {cache: true})

        != vendor_js('pace')
        != vendor_js('jquery')

        if theme.polyfill.enable
            script(src=`https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?version=4.8.0&features=${theme.polyfill.features}` defer)

        != _js('siteInit.js')

        != shokax_inject('bodyEnd')



