mixin BCRender(post, home)
    if home
        != '<div class="breadcrumb" itemListElement itemscope itemtype="https://schema.org/BreadcrumbList">'
        i(class="ic i-home")
        span
            a(href=url_for(site.path))
                != __('menu.home')
    else
        != '<div class="breadcrumb">'
    if post.categories && post.categories.length
        - var cat_length = post.categories.length
        if home
            i(class="ic i-angle-right")
        each cat,index in post.categories.toArray()
            if home
                if index===cat_length-1
                    span(class="current" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem")
                        a(href=url_for(cat.path) itemprop="item" rel="index" title=__('post.in')+ cat.name)
                            span(itemprop="name")
                                != cat.name
                                meta(itemprop="position" content=index)
                else
                    span(itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem")
                        a(href=url_for(cat.path) itemprop="item" rel="index" title=__('post.in') + cat.name)
                            span(itemprop="name")
                                != cat.name
                                meta(itemprop="position" content=index)
            else
                a(href=url_for(cat.path) title=__('post.in')+cat.name)
                    != cat.name
            if cat_length > 1 && index !== cat_length - 1
                i(class="ic i-angle-right")
    != '</div>'
