mixin CommentRender()
    != shokax_inject('comment')
    - var tk = theme?.twikoo?.enable,wl = theme?.waline?.enable,gt=theme?.gitalk?.enable,gs=theme?.giscus?.enable
    if page.comment !== false && !theme.experiments.disableThemeComment
        if tk
            div(class="wrap" id="tcomments")
            script(type="text/javascript" data-pjax).
                setTimeout(function () {
                    twikoo.init({
                        envId: '#{ hexo.theme.config.twikoo.envId }',
                        el: '#tcomments',
                        region: '#{hexo.theme.config.twikoo?.region}'
                    })
                }, 1000)
        else if wl
            div(class="warp" id="wcomments")
            script(type="module" data-pjax).
                import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';

                setTimeout(function () {
                    init({
                        el: '#wcomments',
                        serverURL: '#{hexo.theme.config.waline.serverURL}',
                        lang: '#{hexo.theme.config.waline?.lang || 'zh-CN'}',
                        locale: #{hexo.theme.config.waline?.locale || {}},
                        emoji: #{hexo.theme.config.waline?.emoji || []},
                        meta: #{hexo.theme.config.waline?.meta ?? ['nick', 'mail', 'link']},
                        requiredMeta: #{hexo.theme.config.waline?.requiredMeta ?? ['nick', 'mail']},
                        wordLimit: #{hexo.theme.config.waline?.wordLimit ?? 0},
                        pageSize: #{hexo.theme.config.waline?.pageSize || 10}
                    });
                }, 1000)
        else if gt
            div(class="warp" id="gtcomments")
            script(type="text/javascript" data-pjax).
                const gitalk = new Gitalk({
                    clientID: '#{theme.gitalk.clientID}',
                    clientSecret: '#{theme.gitalk.clientSecret}',
                    repo: '#{theme.gitalk.repo}',
                    owner: '#{theme.gitalk.owner}',
                    admin: #{theme.gitalk.admin},
                    id: location.pathname,      // Ensure uniqueness and length less than 50
                    distractionFreeMode: false,  // Facebook-like distraction free mode
                    proxy: "#{theme.gitalk?.proxy || undefined}"
                });
                gitalk.render("gtcomments")
        else if gs
            div(class="warp giscus" id="gscomments")
            script( src="https://giscus.app/client.js"
                    data-repo="#{theme.giscus.repo}"
                    data-repo-id="#{theme.giscus.repoId}"
                    data-category="#{theme.giscus.category}"
                    data-category-id="#{theme.giscus.categoryId}"
                    data-mapping="#{theme.giscus.mapping || "pathname" }"
                    data-strict="#{theme.giscus.strict || "1" }"
                    data-reactions-enabled="#{theme.giscus.reactionsEnabled || "1"}"
                    data-emit-metadata="#{theme.giscus.emitMetadata || "0"}"
                    data-input-position="#{theme.giscus.inputPosition || "bottom"}"
                    data-theme="#{theme.giscus.commentTheme || "preferred_color_scheme"}"
                    data-lang="#{theme.giscus.lang || "zh-CN"}"
                    data-loading="lazy"
                    crossorigin="anonymous"
                    async
                    )


